.section_padding {
    padding: 4rem 4rem
}

.footer {
    background-color:lemonchiffon;
}

.sb_footer {
    display: flex;
    flex-direction: column;
}

.f_footer-links{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    text-align: 2rem;
    margin-bottom: 2 rem;
}

.f_footer-links_div {
    width: 150px;
    margin: 1rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

a{
    color: rgb(175,175,179);
    text-decoration: none;
}

.socialmedia {
    display: flex;
    flex-direction: row;
    width: 80%;
}

.socialmedia img{
    width: 80%;

    width: 24px;
    height: 24px;
    margin: 0 8px;
}

.f_footer-links_div{
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 0.9rem;
}

.f_footer-below {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0.2rem;
}


hr {
    color: black;
    width: 100%;
}

.f_footer-copyright p{
    font-size: 13px;
    line-height: 15px;
    color: rgb(255, 255, 255);
    font-weight: 600;
}

@media screen and (max-width: 850px) {
    .sb_footer-heading h1 {
        font-size: 44px;
        line-height: 50px;
    }
}

@media screen and (max-width: 550px) {
    .f_footer-heading h1 {
        font-size: 34px;
        line-height: 42px;
    }

    .f_footer-links div{
        margin: 1rem 0;
    }

    .f_footer-btn p{
        font-size: 14px;
        line-height: 20rem;
    }
    .f_footer-below{
        flex-direction: column;
        justify-content: left;
    }

    .f_footer-below-links p{
        margin-left: 0rem;
        margin-top: 1rem;
    }
}

@media screen and (max-width:400px) {
    .f_footer-heading h1{
        font-size: 27px;
        line-height: 38px;
    }
}
