.card {
  /* flex: 0 0 calc(33.33% - 32px); */
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  margin: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: inline-block;
  width: 300px;
  background-color: whitesmoke;
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
}
.card p {
  margin: 8px 0;
}
.image-slider-container {
  height: 100%;
  width: 100%;

  max-height: 200px;
}

.image-slider-container img {
  width: 100%;
  height: 100%;
  max-height: 200px;
  object-fit: contain;
}

.menuButton {
  margin-top: 8px;
  margin-right: 8px;
  background-color: purple;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
}
.menuButton:last-child {
  margin-right: 0;
}

.menuButton:hover {
  background-color: plum;
}

i {
  display: block;
  margin: 16px 0;
  color: #ff5722;
  font-size: x-large;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 480px) {
  .card-container {
    padding: 0 20px;
  }
}
