.message-title {
  font-family: "Ultra", serif;
  font-size: 1.5rem;
  color: whitesmoke;
  margin-left: 10px;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000,
    2px 2px 0 #000;
  text-align: center;
}
